################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DeadMansDraw/.vs/DeadMansDraw.slnx
/docs/~$stem_design.docx
/DeadMansDraw/DeadMansDraw/x64/Debug
/DeadMansDraw/.vs/DeadMansDraw/CopilotIndices/18.4.114.215
/DeadMansDraw/x64/Debug
