################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DeadMansDraw/.vs/DeadMansDraw.slnx
/docs/~$stem_design.docx
